body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 300px;
}

h1 {
  
    margin-bottom: 10px;
    text-align: right;
    height: 350px;
    padding: 20px;
     width: 2px;
    color: #000000;
}

.input-group {
    margin-bottom: 12px;
}

.input-group label {
    display: block;
    margin-bottom: 15px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5e4caf;
    color: white;
    border:#333;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
}

button:hover {
    background-color: #602ee9;
}


